<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">AAOFParallax</h3>
</div> -->
<div class="parallax-front">
  <div class="parallax-section" parallax image-src="splash-1.jpg">
    <div id="section-third-splash" class="story">
      <h3>
        consectetur adipiscing elit. Aenean commodo ante vel nisi porta egestas.
      </h3>
      <p>
        consectetur adipiscing elit. Aenean commodo ante vel nisi porta egestas. Nam feugiat luctus augue, eget sagittis mauris bibendum quis. Nam semper sit amet neque vitae imperdiet.
      </p>
    </div>
  </div>

  <div class="parallax-section" parallax image-src="splash-2.jpg">
    <div id="section-third-splash" class="story">
      <h3>
        consectetur adipiscing elit. Aenean commodo ante vel nisi porta egestas.
      </h3>
      <p>
        consectetur adipiscing elit. Aenean commodo ante vel nisi porta egestas. Nam feugiat luctus augue, eget sagittis mauris bibendum quis. Nam semper sit amet neque vitae imperdiet.
      </p>
    </div>
  </div>

  <div class="parallax-section" parallax image-src="splash-3.jpg">
    <div id="section-third-splash" class="story">
      <h3>
        consectetur adipiscing elit. Aenean commodo ante vel nisi porta egestas.
      </h3>
      <p>
        consectetur adipiscing elit. Aenean commodo ante vel nisi porta egestas. Nam feugiat luctus augue, eget sagittis mauris bibendum quis. Nam semper sit amet neque vitae imperdiet.
      </p>
    </div>
  </div>
</div>